@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

@font-face {
    font-family: 'Norse Bold';
    src: url(/assets/fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-size: 16px;
    line-height: 1.3;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input,
button {
    font-family: inherit;
    font-size: 100%;
}
/* Image container */
.image-container {
    width: 35%;
    height: 100vh;
    background-image: url(/assets/images/background.jpg);
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner {
    background-color: rgba(0, 0, 0, 0.4);
    font-family: 'Norse Bold';
    display: flex;
    font-size: 95px;
    gap: 5px;
    justify-content: center;
    padding: 15px;
    margin-top: 150px;
}

.banner img {
    height: 100px;
}

.attribution {
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin-bottom: 20px;
}

.attribution a {
    color: white;
}

/* text container */

.text-container {
    display: flex;
    flex-direction: column;
    width: 65%;
}

/* header */
header {
    font-size: 20px;
    font-weight: bold;
    width: 650px;
    margin: 50px 0px 0px 50px;
}

header p + p {
    margin-top: 15px;
}

/* form */
form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

/* inputs */
.inputs-header {
    font-size: 25px;
    font-weight: bold;
}

.inputs {
    border: 1px solid #d6d9dc;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 50px;
    box-shadow: 0 5px 5px 4px rgba(13, 117, 165, 0.1);
}

.row {
    display: flex;
    gap: 100px;
}

.column {
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid #d6d9dc;
    width: 300px;
    padding: 7px;
    border-radius: 3px;
}
/* footer */
.footer {
    margin-left: 50px;
}

button {
    margin-bottom: 20px;
    width: 225px;
    height: 45px;
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 3px;
}
.footer span {
    color: #596D48;
}